# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json

defaultPodOptions:
  affinity:
    podAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - plex-trakt-sync
          topologyKey: kubernetes.io/hostname
controllers:
  plex-trakt-sync: &app
    strategy: Recreate
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    containers:
      main:
        image:
          repository: ghcr.io/taxel/plextraktsync
          tag: 0.34.19@sha256:3dc9c707450247325d4ba29b802654451d9961d94601677b01c13d30940156b3
        args:
          - watch
        env:
          PLEX_BASEURL: http://10.20.30.40:32400
          PLEX_LOCALURL: http://10.20.30.40:32400
          PLEX_TOKEN: ${SECRET_PLEXTOKEN}
          PLEX_USERNAME: ${SECRET_ACME_EMAIL}
          TRAKT_USERNAME: ${SECRET_ACME_EMAIL}
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
  cronjob:
    type: cronjob
    cronjob:
      concurrencyPolicy: Forbid
      schedule: "@daily"
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    containers:
      main:
        image:
          repository: ghcr.io/taxel/plextraktsync
          tag: 0.34.19@sha256:3dc9c707450247325d4ba29b802654451d9961d94601677b01c13d30940156b3
        args:
          - sync
        env:
          PLEX_BASEURL: http://10.20.30.40:32400
          PLEX_LOCALURL: http://10.20.30.40:32400
          PLEX_TOKEN: ${SECRET_PLEXTOKEN}
          PLEX_USERNAME: ${SECRET_ACME_EMAIL}
          TRAKT_USERNAME: ${SECRET_ACME_EMAIL}
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
        resources:
          requests:
            cpu: 5m
            memory: 101M
          limits:
            memory: 101M
persistence:
  config-yaml:
    type: configMap
    name: plex-tract-sync-configmap
    globalMounts:
      - path: /app/config/config.yml
        subPath: config.yml
        readOnly: true
  config-pv:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /app/config
