---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: webtrees-db
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: mariadb
      version: 14.1.4
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  maxHistory: 2
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    auth:
      existingSecret: mariadb-secret
      database: webtrees
      username: webtrees
    primary:
      extraEnvVars:
        - name: TZ
          value: ${TIMEZONE}
    volumePermissions:
      enabled: true
    global:
      storageClass: local-path
