---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - configmap.yaml
  - deployment.yaml
  - ingress.yaml
  - persistent_volume_claim.yaml
  - service.yaml
  - uptimerobot-monitor.yaml
