---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: home-operations-charts
  namespace: flux-system
spec:
  interval: 1h
  url: oci://ghcr.io/home-operations/charts
