# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json

controllers:
  ollama: &app
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: docker.io/ollama/ollama
          tag: 0.13.2@sha256:ceaad0844eda02ddc59d9b40551de7264a564ba7a16a90e241d1c582f0df992d
        env:
          - name: OLLAMA_HOST
            value: 0.0.0.0
          - name: OLLAMA_ORIGINS
            value: "*"
          - name: OLLAMA_MODELS
            value: &modelPath "/models"
          - name: OLLAMA_KEEP_ALIVE
            value: "24h"
          - name: OLLAMA_LOAD_TIMEOUT
            value: "600"
        resources:
          requests:
            cpu: 500m
            memory: 5Gi
          limits:
            memory: 16Gi
service:
  app:
    controller: ollama
    type: LoadBalancer
    annotations:
      lbipam.cilium.io/ips: ${SECRET_CILIUMLB_OLLAMA}
    ports:
      http:
        port: 11434
persistence:
  models:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 60Gi
    advancedMounts:
      ollama:
        app:
          - path: *modelPath
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /root/.ollama
