---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app sharry
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: traefik
      namespace: networking
  values:
    controllers:
      main:
        containers:
          main:
            annotations:
              configMap.reloader.stakater.com/reload: *app
              secret.reloader.stakater.com/reload: *app
            args:
              - /opt/sharry.conf
            env:
              TZ: ${TIMEZONE}
            image:
              repository: eikek0/sharry
              tag: v1.12.1
            resources:
              limits:
                memory: 1Gi
              requests:
                cpu: 5m
                memory: 10Mi
    ingress:
      main:
        enabled: true
        ingressClassName: traefik
        annotations:
          external-dns.alpha.kubernetes.io/target: ${SECRET_DNS_TARGET}
          hajimari.io/icon: file-arrow-up-down-outline
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
            secretName: ${SECRET_DOMAIN/./-}-production-tls
    service:
      main:
        ports:
          http:
            port: 9090
    persistence:
      config-file:
        globalMounts:
          - path: /opt/sharry.conf
            subPath: sharry.conf
        name: *app
        type: configMap
      data:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 10Gi
        storageClass: local-path
