---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: synology-iscsi-driver-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: synology-iscsi-driver-config
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        driver-config-file.yaml: |-
          driver: synology-iscsi
          httpConnection:
            allowInsecure: true
            host: {{ .dsm_host }}
            username: {{ .dsm_user }}
            password: {{ .dsm_password }}
            port: 5000
            protocol: http
            session: k8s-homelab-iscsi
          iscsi:
            auth_type: 0
            baseiqn: iqn.2000-01.com.synology:talos.democratic-csi.
            interface: ""
            lunTemplate: |
              {% raw %}{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}-{{ parameters.[csi.storage.k8s.io/pvc/name] }}{% endraw %}
            targetPortal: {{ .dsm_host }}:3260
            targetPortals: []
            targetTemplate: |
              {% raw %}{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}-{{ parameters.[csi.storage.k8s.io/pvc/name] }}{% endraw %}
            type: BLUN
          synology:
            datasetProperties: {}
            volume: /volume2

  dataFrom:
    - extract:
        key: synology-iscsi-driver-secrets
