---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app democratic-csi-iscsi
spec:
  chart:
    spec:
      chart: democratic-csi
      version: 0.15.0
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    csiDriver:
      name: org.democratic-csi.synology-iscsi

    driver:
      existingConfigSecret: democratic-csi-driver-config
      config:
        driver: synology-iscsi

    node:
      hostPID: true
      driver:
        extraEnv:
          - name: ISCSIADM_HOST_STRATEGY
            value: nsenter
          - name: ISCSIADM_HOST_PATH
            value: /usr/local/sbin/iscsiadm
        iscsiDirHostPath: /usr/local/etc/iscsi
        iscsiDirHostPathType: ""
      # Enable automatic filesystem checks on mount to handle unclean shutdowns
      # from network-induced iSCSI disconnects
      mount:
        checkFilesystem:
          ext4:
            enabled: true

    storageClasses:
      - name: synology-iscsi
        reclaimPolicy: Delete
        allowVolumeExpansion: true
        parameters:
          fsType: ext4
        mountOptions:
          - discard

    volumeSnapshotClasses:
      - name: synology-iscsi-snapshots
