---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - configmap.yaml
  - deployment.yaml
  - external-secret.yaml
  - service-monitor.yaml
  - service.yaml
