# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Ansible
xanmanning.k3s*
idiv-biodiversity.systemd_timesyncd*
.cache
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
