# Trash
.DS_Store
Thumbs.db
pv-migrate.log
# k8s
kubeconfig*
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
test
test.yml
