---
apiVersion: mariadb.mmontes.io/v1alpha1
kind: User
metadata:
  name: phpipam
  namespace: networking
spec:
  mariaDbRef:
    name: mariadb
    namespace: database
  passwordSecretKeyRef:
    name: phpipam-secret
    key: mariadb-password
  maxUserConnections: 20
