---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: descheduler
  namespace: kube-system
spec:
  interval: 30m
  chart:
    spec:
      chart: descheduler
      version: 0.32.2
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-descheduler-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    replicas: 1
    kind: Deployment
    deschedulerPolicyAPIVersion: descheduler/v1alpha2
    deschedulerPolicy:
      profiles:
        - name: ProfileName
          pluginConfig:
            - name: DefaultEvictor
              args:
                evictSystemCriticalPods: true
                evictFailedBarePods: true
                evictLocalStoragePods: true
            - name: RemovePodsHavingTooManyRestarts
              args:
                podRestartThreshold: 5
                includingInitContainers: true
            - name: RemovePodsViolatingTopologySpreadConstraint
              args:
                constraints:
                  - DoNotSchedule
            - name: PodLifeTime
              args:
                states:
                  - Pending
                  - PodInitializing
                  - ContainerCreating
                maxPodLifeTimeSeconds: 300
            - name: RemoveFailedPods
              args:
                excludeOwnerKinds:
                  - Job
                includingInitContainers: true
                minPodLifetimeSeconds: 300
            - name: RemoveDuplicates
              args:
                namespaces:
                  exclude:
                    - k10
            - name: RemovePodsViolatingNodeTaints
            - name: RemovePodsViolatingNodeAffinity
              args:
                nodeAffinityType:
                  - requiredDuringSchedulingIgnoredDuringExecution
            - name: RemovePodsViolatingInterPodAntiAffinity
            - name: LowNodeUtilization
              args:
                thresholds:
                  cpu: 20
                  memory: 20
                targetThresholds:
                  cpu: 80
                  memory: 80
          plugins:
            balance:
              enabled:
                - RemoveDuplicates
                - LowNodeUtilization
                - RemovePodsViolatingTopologySpreadConstraint
            deschedule:
              enabled:
                - PodLifeTime
                - RemoveFailedPods
                - RemovePodsViolatingNodeTaints
                - RemovePodsViolatingNodeAffinity
                - RemovePodsHavingTooManyRestarts
                - RemovePodsViolatingInterPodAntiAffinity
    service:
      enabled: true
    serviceMonitor:
      enabled: true
    # leaderElection:
    #   enabled: true
