---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: uptimerobot-prometheus
  namespace: monitoring
spec:
  releaseName: uptimerobot-prometheus
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts
      chart: uptimerobot-prometheus
      version: 6.2.0
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home
        namespace: flux-system
      interval: 5m
  interval: 5m
  test:
    enable: false # Enable helm test
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  rollback:
    timeout: 10m
    cleanupOnFail: true
    recreate: true
  values:
    strategy:
      type: Recreate
    metrics:
      enabled: true
      prometheusRule:
        enabled: true
        rules:
          - alert: UptimeRobotExporterAbsent
            annotations:
              description: Uptime Robot Exporter has disappeared from Prometheus service discovery.
              summary: Uptime Robot Exporter is down.
            expr: |
              absent(up{job=~".*uptimerobot.*"} == 1)
            for: 5m
            labels:
              severity: critical
    env:
      TZ: UTC
      UPTIMEROBOT_API_KEY: ${SECRET_UPTIMEROBOT_APIKEY}
