# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json

controllers:
  app:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: ghcr.io/home-operations/tautulli
          tag: 2.16.0@sha256:772e1af814159bd7e774273d4f9170b1a0f7129f2ad39be5619a458b7b0fd4b0
        env:
          TZ: ${TIMEZONE}
          TAUTULLI_HTTP_BASE_URL: "https://{{ .Release.Name }}.${SECRET_DOMAIN}"
          TAUTULLI_HTTP_PORT: &port 80
        probes:
          liveness:
            enabled: true
            spec:
              periodSeconds: 30
              timeoutSeconds: 5
              failureThreshold: 5
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: &path /status
                port: *port
              periodSeconds: 10
              timeoutSeconds: 5
              failureThreshold: 5
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 10
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 1Gi
      jbops:
        image:
          repository: registry.k8s.io/git-sync/git-sync
          tag: v4.6.0@sha256:228a26d5f55ac5ae9c51635812570ba0073e0b1e0bd8fc3a653a0523b918c092
        env:
          GITSYNC_REPO: https://github.com/blacktwin/JBOPS
          GITSYNC_REF: master
          GITSYNC_PERIOD: 24h
          GITSYNC_ROOT: /add-ons
        resources:
          requests:
            cpu: 10m
            memory: 10M
          limits:
            memory: 128M
    pod:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
service:
  app:
    controller: app
    ports:
      http:
        port: *port
ingress:
  app:
    enabled: true
    className: internal
    annotations:
      hajimari.io/appName: Tautulli
      hajimari.io/icon: movie-cog
      gatus.io/path: *path
    hosts:
      - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
        paths:
          - path: /
            service:
              identifier: app
              port: *port
    tls:
      - hosts:
          - *host
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${MAIN_SC}
    accessMode: ReadWriteOnce
    size: 5Gi
  add-ons:
    type: emptyDir
