---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-webtrees
  namespace: flux-system
spec:
  path: ./kubernetes/apps/default/webtrees/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-homelab
  wait: false  # no flux ks dependents
  dependsOn:
    - name: cluster-apps-webtrees-db
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-webtrees-db
  namespace: flux-system
spec:
  path: ./kubernetes/apps/default/webtrees/db
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-homelab
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
