---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: freshrss-secrets
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: freshrss-secrets
    template:
      engineVersion: v2
      data:
        litestream-s3-access-key-id: '{{ index . "LITESTREAM-ACCESS-KEY" }}'
        litestream-s3-secret-access-key: '{{ index . "LITESTREAM-ACCESS-SECRET" }}'
        litestream-s3-endpoint: '{{ index . "LITESTREAM-HOST" }}' # inkl. Protokoll (http:// oder https://)
        litestream-s3-bucket: "litestream"
        litestream-s3-region: '{{ index . "LITESTREAM-REGION" }}'
        litestream-age-pubkey: "{{ .LITESTREAM_AGE_PUBKEY }}"
        litestream-age-secret: "{{ .LITESTREAM_AGE_SECRET }}"
        OIDC_CLIENT_SECRET: "{{ .FRESHRSS_OAUTH_CLIENT_SECRET }}"
        OIDC_CLIENT_ID: "{{ .FRESHRSS_OAUTH_CLIENT_ID }}"
        OIDC_CLIENT_CRYPTO_KEY: "{{ .OIDC_CLIENT_CRYPTO_KEY}}"

  dataFrom:
    - extract:
        key: litestream-age
    - extract:
        key: garage-s3
    - extract:
        key: freshrss
    - extract:
        key: authelia
