---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./litestream-configmap.yaml
configMapGenerator:
  - name: freshrss-values
    files:
      - values.yaml
generatorOptions:
  disableNameSuffixHash: true
