---
# yaml-language-server: $schema=https://json.schemastore.org/configmap.json
apiVersion: v1
kind: ConfigMap
metadata:
  name: freshrss-config
  labels:
    app.kubernetes.io/name: freshrss
data:
  litestream-replicate: |
    dbs:
      - path: /var/www/FreshRSS/data/users/tdeutsch/db.sqlite
        replicas:
          - name: "garage-s3"
            type: "s3"
            endpoint: "$${S3_ENDPOINT}"
            bucket: "$${S3_BUCKET}"
            path: "freshrss"
            region: "$${S3_REGION}"
            force-path-style: true
            retention: 168h
            snapshot-interval: 1h
            validation-interval: 24h
  litestream-restore: |
    dbs:
      - path: /var/www/FreshRSS/data/users/tdeutsch/db.sqlite
        replicas:
          - name: "garage-s3"
            type: "s3"
            endpoint: "$${S3_ENDPOINT}"
            bucket: "$${S3_BUCKET}"
            path: "freshrss"
            region: "$${S3_REGION}"
            force-path-style: true
            retention: 168h
            validation-interval: 24h
