# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json

controllers:
  app:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: docker.io/freshrss/freshrss
          tag: 1.28.1@sha256:9100f649f5c946f589f54cdb9be7a65996528f48f691ef90eb262a0e06e5a522
        env:
          CRON_MIN: 18,48
          DOMAIN: "https://{{ .Release.Name }}.${SECRET_DOMAIN}/"
          LISTEN: &port 8080
          TZ: ${TIMEZONE}
          OIDC_ENABLED: 1
          OIDC_PROVIDER_METADATA_URL: https://auth.${SECRET_DOMAIN}/.well-known/openid-configuration
          OIDC_REMOTE_USER_CLAIM: preferred_username
          OIDC_SCOPES: openid groups email profile
          OIDC_X_FORWARDED_HEADERS: X-Forwarded-Host X-Forwarded-Port X-Forwarded-Proto
        envFrom:
          - secretRef:
              name: freshrss-secrets
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 15m
            memory: 100Mi
          limits:
            cpu: 500m
            memory: 120Mi
      litestream: &ls
        image:
          repository: "docker.io/litestream/litestream"
          tag: "0.5.6"
        args: ["replicate"]
        env: &lsenv
          LITESTREAM_ACCESS_KEY_ID:
            valueFrom:
              secretKeyRef:
                name: "freshrss-secrets"
                key: "litestream-s3-access-key-id"
          LITESTREAM_SECRET_ACCESS_KEY:
            valueFrom:
              secretKeyRef:
                name: "freshrss-secrets"
                key: "litestream-s3-secret-access-key"
          S3_ENDPOINT:
            valueFrom:
              secretKeyRef:
                name: "freshrss-secrets"
                key: "litestream-s3-endpoint"
          S3_BUCKET:
            valueFrom:
              secretKeyRef:
                name: "freshrss-secrets"
                key: "litestream-s3-bucket"
          S3_REGION:
            valueFrom:
              secretKeyRef:
                name: "freshrss-secrets"
                key: "litestream-s3-region"
        resources:
          requests:
            cpu: 11m
            memory: 50Mi
          limits:
            cpu: 500m
            memory: 60Mi
    initContainers:
      01-litestream-restore:
        !!merge <<: *ls
        args: ["restore", "-if-db-not-exists", "-if-replica-exists", &db "/var/www/FreshRSS/data/users/tdeutsch/db.sqlite"]
service:
  app:
    controller: app
    ports:
      http:
        port: *port
ingress:
  app:
    enabled: true
    className: external
    annotations:
      hajimari.io/icon: mdi:rss
    hosts:
      - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: *port
    tls:
      - hosts:
          - *host
        secretName: ${SECRET_DOMAIN/./-}-production-tls
persistence:
  data:
    enabled: true
    annotations:
      k8up.io/backup: "true"
    type: persistentVolumeClaim
    storageClass: ${MAIN_SC}
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /var/www/FreshRSS/data
        subPath: data
        readOnly: false
      - path: /var/www/FreshRSS/extensions
        subPath: extensions
        readOnly: false
  config:
    enabled: true
    type: configMap
    name: "freshrss-config"
    advancedMounts:
      app:
        litestream:
          - &lsmnt
            subPath: "litestream-replicate"
            path: "/etc/litestream.yml"
            readOnly: true
        01-litestream-restore:
          - subPath: "litestream-restore"
            path: "/etc/litestream.yml"
            readOnly: true
configMaps:
  config:
    enabled: true
    data:
      litestream-replicate: |
        dbs:
          - path: *db
            replicas:
              - name: "garage-s3"
                type: "s3"
                endpoint: "$${S3_ENDPOINT}"
                bucket: "$${S3_BUCKET}"
                path: "{{ .Release.Name }}"
                region: "$${S3_REGION}"
                force-path-style: true
                retention: 168h
                snapshot-interval: 1h
                validation-interval: 24h
      litestream-restore: |
        dbs:
          - path: *db
            replicas:
              - name: "garage-s3"
                type: "s3"
                endpoint: "$${S3_ENDPOINT}"
                bucket: "$${S3_BUCKET}"
                path: "{{ .Release.Name }}"
                region: "$${S3_REGION}"
                force-path-style: true
                retention: 168h
                validation-interval: 24h
