---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app goldilocks
spec:
  chart:
    spec:
      chart: *app
      version: 10.2.0
      sourceRef:
        kind: HelmRepository
        name: fairwinds
        namespace: flux-system
  interval: 1h
  timeout: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    vpa:
      # vpa.enabled -- If true, the vpa will be installed as a sub-chart
      enabled: true
