# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json

controllers:
  speedtest-exporter: &app
    containers:
      app:
        image:
          repository: ghcr.io/miguelndecarvalho/speedtest-exporter
          tag: v3.5.4@sha256:f1064d49124c7fc45faabb87c6c876a2fd04e92b3dc14d4b871301217ba30fed
        env:
          SPEEDTEST_PORT: &port 9798
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
defaultPodOptions:
  dnsConfig:
    options:
      - name: ndots
        value: "1"
  securityContext:
    runAsNonRoot: true
    runAsUser: 568
    runAsGroup: 568
persistence:
  config:
    type: emptyDir
    globalMounts:
      - path: /.config
service:
  app:
    controller: speedtest-exporter
    ports:
      http:
        port: *port
serviceMonitor:
  app:
    serviceName: speedtest-exporter
    endpoints:
      - port: http
        scheme: http
        path: /metrics
        interval: 60m
        scrapeTimeout: 5m
