---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: speedtest-exporter
  name: speedtest-exporter
  namespace: monitoring
spec:
  ports:
    - name: metrics
      port: 9090
      targetPort: httmetricsp
  selector:
    app: speedtest-exporter
