---
# Hubble Ingress override for Flux-managed deployments
# This file is only used by Flux (not helmfile bootstrap)
# Enables Hubble UI ingress with cluster-specific domain
hubble:
  enabled: true
  metrics:
    enabled:
      - dns:query
      - drop
      - tcp
      - flow
      - port-distribution
      - icmp
      - http
    serviceMonitor:
      enabled: true
    dashboards:
      enabled: true
      annotations:
        grafana_folder: Cilium
  relay:
    enabled: true
    rollOutPods: true
    prometheus:
      serviceMonitor:
        enabled: true
  ui:
    enabled: true
    rollOutPods: true
    ingress:
      enabled: true
      annotations:
        hajimari.io/appName: hubble
        hajimari.io/icon: lan
        hajimari.io/group: Network
      className: internal
      hosts: ["hubble.${SECRET_DOMAIN}"]
