---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app descheduler
  namespace: flux-system
spec:
  targetNamespace: kube-system
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/kube-system/descheduler/app
  prune: false # never should be deleted
  sourceRef:
    kind: GitRepository
    name: k8s-homelab
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
