---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app velero
spec:
  chart:
    spec:
      chart: velero
      version: 11.3.1
      sourceRef:
        kind: HelmRepository
        name: vmware-tanzu-charts
        namespace: flux-system
  interval: 1h
  timeout: 45m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    kubectl:
      image:
        repository: docker.io/bitnamilegacy/kubectl
        tag: 1.33
    deployNodeAgent: true
    nodeAgent:
      containerSecurityContext:
        privileged: true
    configuration:
      features: EnableCSI
      backupStorageLocation:
        - bucket: *app
          name: default
          provider: aws
          prefix: csi
          default: true
          ttl: 720h # Backup bleibt 30 Tage
          config:
            region: minio
            s3ForcePathStyle: true
            s3Url: http://192.168.8.9:9091
      volumeSnapshotLocation:
        - name: default
          provider: csi
    initContainers:
      - name: velero-plugin-for-aws
        image: velero/velero-plugin-for-aws:v1.13.1
        volumeMounts:
          - mountPath: /target
            name: plugins
    credentials:
      useSecret: true
      existingSecret: minio-secrets
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 128Mi
