---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tools
components:
  - ../../components/common
resources:
  - ./pod-cleaner/ks.yaml
  - ./simple-cmdb/ks.yaml
  - ./spoolman/ks.yaml
