---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app reloader
spec:
  chart:
    spec:
      chart: reloader
      version: 2.2.5
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
  interval: 1h
  timeout: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: *app
    reloader:
      readOnlyRootFileSystem: true
      podMonitor:
        enabled: true
        namespace: "{{ .Release.Namespace }}"
    resources:
      requests:
        cpu: 15m
        memory: 100Mi
      limits:
        cpu: 18m
        memory: 120Mi
