---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: backup-role
rules:
  - apiGroups: [""]
    resources: ["services", "services/log"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["services/exec"]
    verbs: ["create"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: backup-sa
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: backup-role-binding
subjects:
  - kind: ServiceAccount
    name: backup-sa
roleRef:
  kind: Role
  name: backup-role
  apiGroup: ""
