# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json

controllers:
  system-upgrade-controller:
    strategy: RollingUpdate
    replicas: 1
    containers:
      app:
        args:
          - "--debug"
        image:
          repository: docker.io/rancher/system-upgrade-controller
          tag: v0.18.0@sha256:9813f85653c8378eef0582108a52f5c8f7b92da71e63f88e4cb234e0dbff27d1
        env:
          SYSTEM_UPGRADE_CONTROLLER_LEADER_ELECT: true
          SYSTEM_UPGRADE_CONTROLLER_NAME: system-upgrade-controller
          SYSTEM_UPGRADE_CONTROLLER_NAMESPACE:
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          SYSTEM_UPGRADE_CONTROLLER_NODE_NAME:
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          SYSTEM_UPGRADE_JOB_BACKOFF_LIMIT: "3"
          SYSTEM_UPGRADE_JOB_PRIVILEGED: false
          SYSTEM_UPGRADE_JOB_TTL_SECONDS_AFTER_FINISHED: "900"
          SYSTEM_UPGRADE_CONTROLLER_LOCK_DUR: "0"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
serviceAccount:
  name: system-upgrade-controller
  create: true
resources:
  requests:
    cpu: 15m
    memory: 100Mi
  limits:
    cpu: 18m
    memory: 120Mi
