---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tuppr
spec:
  chart:
    spec:
      chart: tuppr
      version: 0.0.51
      sourceRef:
        kind: HelmRepository
        name: home-operations
        namespace: flux-system
  interval: 1h
  timeout: 45m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: tuppr-values
      valuesKey: values.yaml
