---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snapshot-controller
spec:
  chart:
    spec:
      chart: snapshot-controller
      version: 5.0.3
      sourceRef:
        kind: HelmRepository
        name: piraeus
        namespace: flux-system
  interval: 1h
  timeout: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    volumeSnapshotClasses:
      - name: longhorn-backup-vsc
        driver: driver.longhorn.io
        annotations:
          snapshot.storage.kubernetes.io/is-default-class: "false"
        parameters:
          type: bak
        deletionPolicy: Delete
      - name: longhorn-snapshot-vsc
        driver: driver.longhorn.io
        annotations:
          snapshot.storage.kubernetes.io/is-default-class: "true"
        parameters:
          type: snap
        deletionPolicy: Delete
    controller:
      serviceMonitor:
        create: true
