# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json

controllers:
  radarr-exporter:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.3.0@sha256:af535d94061cf97a52e1661945ffba78c03f9443eae7c0da1a80a5a4be56b520
        args:
          - radarr
          - --enable-additional-metrics
          - --enable-unknown-queue-items
        env:
          PORT: &port 9707
          URL: http://${SECRET_MEDIABOX_IP}:7878
        envFrom:
          - secretRef:
              name: radarr-exporter-secret
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
defaultPodOptions:
  dnsConfig:
    options:
      - name: ndots
        value: "1"
  securityContext:
    runAsNonRoot: true
    runAsUser: 568
    runAsGroup: 568
service:
  app:
    controller: radarr-exporter
    ports:
      http:
        port: *port
serviceMonitor:
  app:
    serviceName: radarr-exporter
    endpoints:
      - port: http
        scheme: http
        path: /metrics
        interval: 1h
        scrapeTimeout: 1m
