---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret-values.yaml
  - ./secret-passwords.sops.yaml
  - ./helmrelease.yaml
  - ./paperless-config.yaml
configMapGenerator:
  - name: paperless-scripts
    files:
      - pre-consume.sh=./scripts/pre-consume.sh
      - remove-blank-pages.sh=./scripts/remove-blank-pages.sh
      - pdfpassword.py=./scripts/pdfpassword.py
      - paperless-preprocess-forms.py=./scripts/paperless-preprocess-forms.py
      # - paperless-preprocess-removebadchars.py=./scripts/paperless-preprocess-removebadchars.py
  - name: paperless-values
    files:
      - values.yaml
generatorOptions:
  disableNameSuffixHash: true
