---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/configmap_v1.json
apiVersion: v1
kind: ConfigMap
metadata:
  name: paperless-config
data:
  # PAPERLESS_PRE_CONSUME_SCRIPT: /usr/src/paperless/scripts/pre-consume.sh
  PAPERLESS_WEBSERVER_WORKERS: "1"
  PAPERLESS_TASK_WORKERS: "1"
  PAPERLESS_TIKA_ENABLED: "1"
  PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-gotenberg:3000
  PAPERLESS_TIKA_ENDPOINT: http://paperless-tika:9998
  PAPERLESS_FILENAME_FORMAT: "{{created_year}}/{{correspondent}}/{{created_year}}-{{created_month}}-{{created_day}}
    {{title}}"
  # Configure Remote User auth
  PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
  # Configure folders
  PAPERLESS_CONSUMPTION_DIR: /nfs/consume
  PAPERLESS_DATA_DIR: /data
  PAPERLESS_EXPORT_DIR: /nfs/export
  PAPERLESS_MEDIA_ROOT: /nfs/media
  # Configure folder importer
  PAPERLESS_CONSUMER_POLLING: "60"
  PAPERLESS_CONSUMER_RECURSIVE: "true"
  PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
  PAPERLESS_CONSUMER_DELETE_DUPLICATES: "true"
  # Configure OCR
  PAPERLESS_OCR_LANGUAGES: deu eng
  PAPERLESS_OCR_LANGUAGE: deu+eng
  PAPERLESS_OCR_MODE: skip
  PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
  #PAPERLESS_OCR_SKIP_ARCHIVE_FILE: with_text
  # Configure redis integration
  PAPERLESS_REDIS: redis://paperless-redis:6379
  # Working around the "DecompressionBombError: Image size exceeds limit" issue as described in https://github.com/paperless-ngx/paperless-ngx/issues/416
  # PAPERLESS_OCR_MAX_IMAGE_PIXELS: "600000000"
  # PAPERLESS_WORKER_TIMEOUT: "10000"
