---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: HelmRepository
metadata:
  name: csi-driver-nfs
  namespace: flux-system
spec:
  interval: 1h
  timeout: 5m
  url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
