[defaults]
# General settings
forks                       = 20
vault_password_file         = ~/iCloudDrive/Allgemein/bin/vault_password_file
nocows                      = True
executable                  = /bin/bash
force_valid_group_names     = ignore
# File/Directory settings
log_path                    = ~/.ansible/ansible.log
inventory                   = ./provision/ansible/inventory
roles_path                  = ~/.ansible/roles:./provision/ansible/roles:~/.ansible/roles:roles:/etc/ansible/roles:~/git/ansible-sky/roles
collections_path            = ~/.ansible/collections
remote_tmp                  = ~/.ansible/tmp
local_tmp                   = ~/.ansible/tmp
# Fact Caching settings
gathering                   = smart
fact_caching                = jsonfile
fact_caching_connection     = .cache/facts
fact_caching_timeout        = 86400
# SSH settings
remote_port                 = 22
timeout                     = 60
host_key_checking           = False
# Plugin settings
vars_plugins_enabled        = host_group_vars,community.sops.sops
# Use the YAML callback plugin.
stdout_callback             = yaml
# Don't use the stdout_callback when running ad-hoc commands. e.g: ansible -m setup <host>
bin_ansible_callbacks       = False
# don't automatically convert "false" string to bool, use |bool filter if required.
conditional_bare_variables  = False

[inventory]
unparsed_is_failed          = true

[privilege_escalation]
become                      = True
become_method               = sudo
become_user                 = root
become_ask_pass             = False

[ssh_connection]
scp_if_ssh                  = smart
retries                     = 3
ssh_args                    = -o ControlMaster=auto -o ControlPersist=30m -o Compression=yes -o ServerAliveInterval=15s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining                  = True
control_path                = %(directory)s/%%h-%%r
