---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: weave-gitops-oidc
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: weave-gitops-oidc-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        clientID: "{{ .clientID }}"
        clientSecret: "{{ .clientSecret }}"
  dataFrom:
    - extract:
        key: weave-gitops
