---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./litestream-configmap.yaml
  - ./externalsecret-litestream.yaml
configMapGenerator:
  - name: simple-cmdb-values
    files:
      - values.yaml
generatorOptions:
  disableNameSuffixHash: true
