---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app spegel
spec:
  chart:
    spec:
      chart: spegel
      version: 0.4.0
      sourceRef:
        kind: HelmRepository
        name: spegel
        namespace: flux-system
  interval: 1h
  timeout: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    grafanaDashboard:
      enabled: true
    service:
      registry:
        hostPort: 29999
    serviceMonitor:
      enabled: true
    spegel:
      containerdSock: /run/containerd/containerd.sock
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
    resources:
      requests:
        cpu: 15m
        memory: 100Mi
      limits:
        cpu: 18m
        memory: 120Mi
