---
apiVersion: v1
kind: ConfigMap
metadata:
  name: librechat2-env-config
data:
  #==================================================#
  #                      App                         #
  #==================================================#
  NO_INDEX: "true"
  INDEX_HTML_CACHE_CONTROL: "no-cache, no-store, must-revalidate"
  INDEX_HTML_PRAGMA: no-cache
  INDEX_HTML_EXPIRES: "0"
  #==================================================#
  #                    Models                        #
  #==================================================#

  ENDPOINTS: openAI,google,anthropic,custom,agents,assistants,gptPlugins

  # GOOGLE_MODELS: gemini-2.0-flash-exp,gemini-1.5-pro-latest,gemini-1.5-flash-latest
  # OPENAI_MODELS: chatgpt-4o-latest,gpt-4o,gpt-4o-mini,o1-preview,o1-mini
  # ANTHROPIC_MODELS: claude-3-5-sonnet-20241022

  GOOGLE_SAFETY_SEXUALLY_EXPLICIT: BLOCK_ONLY_HIGH
  GOOGLE_SAFETY_HATE_SPEECH: BLOCK_ONLY_HIGH
  GOOGLE_SAFETY_HARASSMENT: BLOCK_ONLY_HIGH
  GOOGLE_SAFETY_DANGEROUS_CONTENT: BLOCK_ONLY_HIGH

  #=============#
  # Permissions #
  #=============#
  UID: "568"
  GID: "568"

  #==================================================#
  #                      Search                      #
  #==================================================#
  SEARCH: "true"
  MEILI_NO_ANALYTICS: "true"

  MEILI_HOST: "http://librechat-meilisearch.default.svc.cluster.local:7700"

  #==================================================#
  #                      RAG                         #
  #==================================================#
  RAG_PORT: "8000"
  RAG_API_URL: "http://librechat-ragapi.default.svc.cluster.local:8000"

  RAG_USE_FULL_CONTEXT: "true"

  #============#
  # Plugins    #
  #============#

  DEBUG_PLUGINS: "true"

  #========================#
  # Moderation             #
  #========================#

  OPENAI_MODERATION: "false"
  # OPENAI_MODERATION_REVERSE_PROXY=

  BAN_VIOLATIONS: "false"
  BAN_DURATION: 1000 * 60 * 60 * 2
  BAN_INTERVAL: "20"

  LOGIN_VIOLATION_SCORE: "1"
  REGISTRATION_VIOLATION_SCORE: "1"
  CONCURRENT_VIOLATION_SCORE: "1"
  MESSAGE_VIOLATION_SCORE: "1"
  NON_BROWSER_VIOLATION_SCORE: "20"
  ILLEGAL_MODEL_REQ_SCORE: "5"

  LIMIT_CONCURRENT_MESSAGES: "true"
  CONCURRENT_MESSAGE_MAX: "2"

  LIMIT_MESSAGE_IP: "true"
  MESSAGE_IP_MAX: "40"
  MESSAGE_IP_WINDOW: "1"

  LIMIT_MESSAGE_USER: "false"
  MESSAGE_USER_MAX: "40"
  MESSAGE_USER_WINDOW: "1"

  #========================#
  # Balance                #
  #========================#

  CHECK_BALANCE: "false"

  #========================#
  # Registration and Login #
  #========================#

  ALLOW_EMAIL_LOGIN: "true"
  ALLOW_REGISTRATION: "true"
  ALLOW_SOCIAL_LOGIN: "false"
  ALLOW_SOCIAL_REGISTRATION: "false"
  ALLOW_PASSWORD_RESET: "false"
  ALLOW_ACCOUNT_DELETION: "true" # note: enabled by default if omitted/commented out
  ALLOW_UNVERIFIED_EMAIL_LOGIN: "true"

  SESSION_EXPIRY: 1000 * 60 * 15
  REFRESH_TOKEN_EXPIRY: (1000 * 60 * 60 * 24) * 7

  # EMAIL_HOST: smtp-relay.default.svc.cluster.local
  # EMAIL_PORT: "25"
  # EMAIL_FROM_NAME: "AI Chat"
  # EMAIL_FROM: "librechat@${SECRET_DOMAIN}"
  # EMAIL_USERNAME: "none"
  # EMAIL_PASSWORD: "none"

  #========================#
  # Shared Links           #
  #========================#

  ALLOW_SHARED_LINKS: "true"
  ALLOW_SHARED_LINKS_PUBLIC: "true"

  #===================================================#
  #                        UI                         #
  #===================================================#

  DOMAIN_CLIENT: "https://chat.${SECRET_DOMAIN}"
  DOMAIN_SERVER: "https://chat.${SECRET_DOMAIN}"

  APP_TITLE: LibreChat
  CUSTOM_FOOTER: "AI Chat"
  HELP_AND_FAQ_URL: https://librechat.ai
