# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json

controllers:
  python-ipam:
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: registry.eighty-three.me/tuxpeople/python-ipam
          tag: 1.1.4
        env:
          DATABASE_URL: "sqlite:////data/ipam.db"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 512Mi
      litestream:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.5
        args: ["replicate"]
        env:
          LITESTREAM_ACCESS_KEY_ID:
            valueFrom:
              secretKeyRef:
                name: python-ipam-secrets
                key: litestream-minio-id
          LITESTREAM_SECRET_ACCESS_KEY:
            valueFrom:
              secretKeyRef:
                name: python-ipam-secrets
                key: litestream-minio-key
          MINIO_ENDPOINT:
            valueFrom:
              secretKeyRef:
                name: python-ipam-secrets
                key: litestream-minio-endpoint
          MINIO_BUCKET:
            valueFrom:
              secretKeyRef:
                name: python-ipam-secrets
                key: litestream-minio-bucket
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
          limits:
            cpu: 500m
            memory: 512Mi
    initContainers:
      01-litestream-restore:
        image:
          repository: docker.io/litestream/litestream
          tag: 0.5.5
        args: ["restore", "-if-db-not-exists", "-if-replica-exists", "/data/ipam.db"]
        env:
          LITESTREAM_ACCESS_KEY_ID:
            valueFrom:
              secretKeyRef:
                name: python-ipam-secrets
                key: litestream-minio-id
          LITESTREAM_SECRET_ACCESS_KEY:
            valueFrom:
              secretKeyRef:
                name: python-ipam-secrets
                key: litestream-minio-key
          MINIO_ENDPOINT:
            valueFrom:
              secretKeyRef:
                name: python-ipam-secrets
                key: litestream-minio-endpoint
          MINIO_BUCKET:
            valueFrom:
              secretKeyRef:
                name: python-ipam-secrets
                key: litestream-minio-bucket
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65532
    runAsGroup: 65532
    fsGroup: 65532
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile: { type: RuntimeDefault }
service:
  app:
    controller: python-ipam
    ports:
      http:
        port: &port 5000
ingress:
  app:
    enabled: true
    className: internal
    hosts:
      - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: *port
    tls:
      - hosts:
          - *host
        secretName: ${SECRET_DOMAIN/./-}-production-tls

persistence:
  tmp:
    enabled: true
    type: emptyDir
  litestream-config:
    type: configMap
    name: python-ipam-litestream-config
    advancedMounts:
      python-ipam:
        litestream:
          - subPath: litestream-replicate.yml
            path: /etc/litestream.yml
            readOnly: true
        01-litestream-restore:
          - subPath: litestream-restore.yml
            path: /etc/litestream.yml
            readOnly: true
  database:
    enabled: true
    type: emptyDir
    advancedMounts:
      python-ipam:
        app:
          - path: /data
        litestream:
          - path: /data
        01-litestream-restore:
          - path: /data
