---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: node-problem-detector
  namespace: &namespace kube-system
spec:
  interval: 15m
  chart:
    spec:
      chart: node-problem-detector
      version: 2.3.11
      sourceRef:
        kind: HelmRepository
        name: deliveryheroio
        namespace: flux-system
  maxHistory: 2
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    metrics:
      serviceMonitor:
        enabled: true
