---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kyverno
spec:
  chart:
    spec:
      chart: kyverno
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: kyverno-charts
        namespace: flux-system
  interval: 1h
  timeout: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    crds:
      install: true
    grafana:
      enabled: true
    admissionController:
      replicas: 2
      rbac:
        clusterRole:
          extraResources: &extraResources
            - apiGroups: ["*"]
              resources: ["*"]
              verbs: ["get", "list", "watch"]
            - apiGroups: [""]
              resources: ["namespaces"]
              verbs: ["get", "list", "watch", "update", "patch"]
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 35m
          memory: 100Mi
        limits:
          cpu: 51m
          memory: 120Mi
    backgroundController:
      rbac:
        clusterRole:
          extraResources: *extraResources
      resources:
        requests:
          cpu: 15m
          memory: 100Mi
        limits:
          cpu: 150m
          memory: 120Mi
      serviceMonitor:
        enabled: true
    reportsController:
      rbac:
        clusterRole:
          extraResources: *extraResources
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 23m
          memory: 100Mi
        limits:
          cpu: 33m
          memory: 120Mi
    cleanupController:
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 63m
          memory: 100Mi
        limits:
          cpu: 116m
          memory: 120Mi
