---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: speedtest-exporter
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: speedtest-exporter
  template:
    metadata:
      labels:
        app: speedtest-exporter
    spec:
      containers:
        - image: ghcr.io/danopstech/speedtest_exporter:latest
          imagePullPolicy: Always
          name: main
          ports:
            - containerPort: 9090
              name: metrics
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
            limits:
              cpu: 20m
              memory: 40Mi
          env:
            - name: DISCORD_WEBHOOK
              valueFrom:
                secretKeyRef:
                  key: address
                  name: discord-webhook
