---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app longhorn
spec:
  interval: 15m
  chart:
    spec:
      chart: longhorn
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  maxHistory: 2
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: traefik
      namespace: networking
  values:
    persistence:
      defaultClass: true
      defaultClassReplicaCount: 2
      defaultFsType: ext4
      reclaimPolicy: Delete
      # recurringJobs:
      #   enable: true
      #   jobList:
      #     '[{"name":"daily", "task":"backup", "cron":"0 6 * * ?", "retain":3,"labels":
      #     {"interval":"daily"}}]'
    defaultSettings:
      backupstorePollInterval: 300
      backupTarget: nfs://10.20.30.40:/volume2/data/backup/kubernetes/longhorn-backup
      defaultDataPath: /var/lib/longhorn
      defaultDataLocality: best-effort
      defaultReplicaCount: 2
      defaultLonghornStaticStorageClass: longhorn
      createDefaultDiskLabeledNodes: false
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      concurrentAutomaticEngineUpgradePerNodeLimit: 1
      storageMinimalAvailablePercentage: 10
      StorageOverProvisioningPercentage: 110
      # taintToleration: "node-role.kubernetes.io/master=true:NoSchedule"
      # upgradeChecker: true
    ingress:
      enabled: true
      ingressClassName: traefik
      host: "longhorn.${SECRET_DOMAIN}"
      tlsSecret: ${SECRET_DOMAIN/./-}-production-tls
      tls: true
      path: /
      annotations:
        hajimari.io/enable: "true"
        hajimari.io/icon: "cow"
        hajimari.io/appName: "Longhorn"
        # hajimari.io/targetBlank: "true"
        # hajimari.io/info: "Storage"
    # longhornManager:
    #   tolerations:
    #     - key: node-role.kubernetes.io/master
    #       operator: Equal
    #       value: "true"
    #       effect: NoSchedule
    # longhornDriver:
    #   tolerations:
    #     - key: node-role.kubernetes.io/master
    #       operator: Equal
    #       value: "true"
    #       effect: NoSchedule
    # longhornUI:
    #   tolerations:
    #     - key: node-role.kubernetes.io/master
    #       operator: Equal
    #       value: "true"
    #       effect: NoSchedule
