---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gitlab-runner
spec:
  chart:
    spec:
      chart: gitlab-runner
      version: 0.85.0
      sourceRef:
        kind: HelmRepository
        name: gitlab
        namespace: flux-system
  interval: 1h
  timeout: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: Secret
      name: gitlab-k8s-runner-secrets
      valuesKey: values.yaml
  values: # https://gitlab.com/gitlab-org/charts/gitlab-runner/blob/main/values.yaml
    imagePullPolicy: IfNotPresent
    gitlabUrl: https://gitlab.com/
    rbac:
      create: true
    runners:
      config: |
        [[runners]]
          name = "talos-runner"
          executor = "kubernetes"
          [runners.kubernetes]
            namespace = "default"
            privileged = true
