---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: thanos-bucket
  namespace: monitoring
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: thanos-bucket
    creationPolicy: Owner
    template:
      engineVersion: v2
  dataFrom:
    - extract:
        # AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY
        key: thanos
