---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./gatus-external.yaml
  - ./gatus-internal.yaml
  - ./ingress.yaml
  - ./limits.yaml
  - ./ndots.yaml
  - label-existing-namespaces.yaml
  - reloader.yaml
