---
name: Update K3S version in readme

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - master

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  PLAN_FILE: "kubernetes/apps/system-upgrade-controller/app/plans/server.yaml"

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
        with:
          fetch-depth: 0
          ref: ${{ env.BRANCH_NAME }}
      - uses: tj-actions/changed-files@5a331a4999f9f21a3ef2a6459edee90393a8b92a # v35
        id: changed-plan
        with:
          files: ${{ env.PLAN_FILE }}
      - name: Get used k3s version
        if: steps.changed-plan.outputs.any_changed == 'true'
        run:
          echo "k3sversion=$(grep "version:" ${{ env.PLAN_FILE }} | cut -d'"' -f2 | cut -d'+' -f1)" >> $GITHUB_ENV
      - name: Readme Download Button Action
        if: steps.changed-plan.outputs.any_changed == 'true'
        env:
          VERSION: "${{ env.k3sversion }}"
          BASE_URL: "https://img.shields.io/badge/k3s"
          COLOR: "blue"
          STYLE: "for-the-badge"
          LOGO: "kubernetes"
          LOGO_COLOR: "white"
          BEGIN_TAG: "<!-- BEGIN K3S BADGE -->"
          END_TAG: "<!-- END K3S BADGE -->"
        run: |
          UPDATE=$(cat readme.md | perl -0777 -pe 's#(${{ env.BEGIN_TAG }})(?:.|\n)*?(${{ env.END_TAG }})#${1}[![k3s](${{ env.BASE_URL }}-${{ env.VERSION }}-${{ env.COLOR }}?style=${{ env.SYTLE }}&logo=${{ env.LOGO }}&logoColor=${{ env.LOGO_COLOR }})](https://k3s.io/)${2}#g')
          echo "${UPDATE}" > readme.md
      - uses: EndBug/add-and-commit@61a88be553afe4206585b31aa72387c64295d08b # v9
        if: steps.changed-plan.outputs.any_changed == 'true'
        with:
          default_author: github_actions
