# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json

controllers:
  homepage:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/gethomepage/homepage
          tag: v1.9.0@sha256:7fa7b07a26bd8d90a44bb975c6455b10d8dee467ce674b040750ffb4a0f486d6
        env:
          TZ: ${TIMEZONE}
          HOMEPAGE_ALLOWED_HOSTS: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
        envFrom:
          - secretRef:
              name: &app homepage
        resources:
          requests:
            cpu: 15m
            memory: 200M
          limits:
            memory: 512Mi

service:
  app:
    controller: *app
    ports:
      http:
        port: 3000

ingress:
  app:
    className: internal
    hosts:
      - host: *host
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http

persistence:
  config:
    enabled: true
    type: configMap
    name: "{{ .Release.Name }}-config"
    globalMounts:
      - subPath: bookmarks.yaml
        path: /app/config/bookmarks.yaml
      - subPath: docker.yaml
        path: /app/config/docker.yaml
      - subPath: kubernetes.yaml
        path: /app/config/kubernetes.yaml
      - subPath: services.yaml
        path: /app/config/services.yaml
      - subPath: settings.yaml
        path: /app/config/settings.yaml
      - subPath: widgets.yaml
        path: /app/config/widgets.yaml

serviceAccount:
  create: true
  name: *app
