# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json

global:
  nameOverride: calibre-web
controllers:
  calibre-web: &app
    strategy: Recreate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: crocodilestick/calibre-web-automated
          tag: V2.1.2
        env:
          TZ: ${TIMEZONE}
          PUID: 1000
          PGID: 1000
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: false
    # runAsUser: 1027
    # runAsGroup: 100
    fsGroup: 1000
    fsGroupChangePolicy: Always
service:
  app:
    controller: calibre-web
    ports:
      http:
        port: &port 8083
ingress:
  app:
    enabled: true
    className: internal
    annotations:
      # nginx.ingress.kubernetes.io/auth-method: GET
      # nginx.ingress.kubernetes.io/auth-url: https://auth.${SECRET_DOMAIN}/api/verify
      # nginx.ingress.kubernetes.io/auth-signin: https://auth.${SECRET_DOMAIN}?rm=$request_method
      # nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
      # nginx.ingress.kubernetes.io/auth-snippet: |
      #  proxy_set_header X-Forwarded-Method $request_method;
      #  proxy_set_header X-Forwarded-Scheme $scheme;
      hajimari.io/icon: bookshelf
    hosts:
      - host: &host books.${SECRET_DOMAIN}
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: *port
    tls:
      - hosts:
          - *host
persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /config
  data:
    enabled: true
    type: nfs
    server: 10.20.30.40
    path: /volume2/data/media/books
    globalMounts:
      - path: /calibre-library
  cache:
    type: emptyDir
    globalMounts:
      - path: /cache
