---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Check Talconfig"

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check talconfig
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Cache mise tools
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.local/share/mise
          key: mise-${{ runner.os }}-${{ hashFiles('.mise.toml') }}

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Check talconfig
        id: check
        run: |
          export talosVersion=$(yq '.talosVersion'  talos/talenv.yaml)
          export kubernetesVersion=$(yq '.kubernetesVersion'  talos/talenv.yaml)
          talhelper validate talconfig talos/talconfig.yaml
