---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Check Talconfig"

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check talconfig
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Cache mise tools
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.local/share/mise
          key: mise-${{ runner.os }}-${{ hashFiles('.mise.toml') }}

      - name: Setup mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Check talconfig
        id: check
        run: |
          export talosVersion=$(yq '.talosVersion'  talos/talenv.yaml)
          export kubernetesVersion=$(yq '.kubernetesVersion'  talos/talenv.yaml)
          talhelper validate talconfig talos/talconfig.yaml
