---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Check Talconfig"

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check talconfig
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Cache mise tools
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.local/share/mise
          key: mise-${{ runner.os }}-${{ hashFiles('.mise.toml') }}

      - name: Setup mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Check talconfig
        id: check
        run: |
          export talosVersion=$(yq '.talosVersion'  talos/talenv.yaml)
          export kubernetesVersion=$(yq '.kubernetesVersion'  talos/talenv.yaml)
          talhelper validate talconfig talos/talconfig.yaml
