---
apiVersion: v1
kind: Secret
metadata:
  name: ubuntu
  namespace: system-upgrade
type: Opaque
stringData:
  upgrade.sh: |
    #!/bin/sh
    set -e
    apt-get --assume-yes update
    apt-get --assume-yes upgrade
---
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: ubuntu
  namespace: system-upgrade
spec:
  concurrency: 1
  cordon: true
  drain:
    force: true
  nodeSelector:
    matchExpressions:
      - { key: plan.upgrade.cattle.io/ubuntu, operator: Exists }
  serviceAccountName: system-upgrade
  secrets:
    - name: ubuntu
      path: /host/run/system-upgrade/secrets/ubuntu
  version: "23.04"
  upgrade:
    image: ubuntu
    command: [chroot, /host]
    args: [sh, /run/system-upgrade/secrets/ubuntu/upgrade.sh]
